.appear-title {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.8s ease-out, transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}