@use '../styles/functions' as *;

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--pink);
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.15s ease;
    mix-blend-mode: difference;

    @include mobile {
        display: none;
    }

    &.visible {
        opacity: 1;
    }
}