@use '../styles/functions' as *;

.horizontal-slides {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; // Vertically center the slider

    .slider {
        display: flex;
        gap: mobile-vw(24px);
        padding: mobile-vw(40px) var(--layout-margin);
        width: max-content;
        align-items: center;

        @include desktop {
            gap: desktop-vw(32px);
            padding: desktop-vw(60px) var(--layout-margin);
        }
    }
}