@use '../styles/functions' as *;

$intro-in: 1500ms;
$intro-out: 1500ms;

.wrapper {
    height: 100vh;
    background-color: var(--pink);
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    @include mobile {
        display: none;
    }

    &.out {
        transform: translate3d(0, -100%, 0);
        transition: transform $intro-out var(--ease-out-expo);
        transition-delay: calc($intro-in + 0ms);
    }

    .relative {
        padding: desktop-vw(30px) desktop-vw(32.5px);
        transition: transform $intro-out var(--ease-out-expo);
        transition-delay: calc($intro-in + 0ms);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .show {
        transition: transform $intro-in var(--ease-out-expo);
        transition-delay: calc(var(--index) * 75ms);
        transform: translate3d(0, 0, 0);
    }
}

.translate {
    @include desktop {
        transform: translate3d(0, -100%, 0);
        transition: transform $intro-out var(--ease-out-expo);
    }
}

.intro-text {
    font-family: var(--font-primary);
    font-size: 15vw;
    font-weight: 900;
    line-height: 0.8;
    text-transform: uppercase;
    color: var(--black);
    white-space: nowrap;
    margin: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s ease-out, transform 1s cubic-bezier(0.16, 1, 0.3, 1);

    &.show {
        opacity: 1;
        transform: translateY(0);
    }
}