@use '../styles/functions' as *;

.scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: desktop-vw(4px);
    z-index: 1000;

    @include mobile {
        display: none;
    }

    .track {
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .thumb {
        width: 100%;
        height: 100%;
        background-color: var(--pink);
        transform-origin: top;
        transform: scaleY(0);
    }
}