.canvas-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    .container {
        height: 100%;
        width: 100%;
    }

    canvas {
        display: block;
    }
}